
body{
    padding: 0px;
    margin: 0px;    
    background-color: gold;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 90px 30px;
    background-attachment: fixed;
    background-color: rgb(3, 3, 43);
}


.barra-navegacao{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9)

}

nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    list-style-type: none;
    justify-content: flex-end;
    height: 60px;
    margin-left: 200px;
    margin-right: 200px;
}

.barra-navegacao a{
    display: flex;
    text-decoration: none;
    height: 100%;
    align-items: center;
    font-size: 25px;
    color: white;
}

nav .logo{
    display: flex;
    display: flex;
    margin-right: auto;
    background-color: rgb(13, 72, 124);
    width: 150px;
    justify-content: center;
    border-radius: 300px;
    font-weight: bold;
}

main{
    width: 100%;
    height: 1000px;
    background-color: aquamarine;
    border: 2px solid black;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.9)
}

footer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}


.scroll{
    display: flex;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    justify-content: center;
}

h1{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

H2{
    color: white;
    text-align: center;
}

.item1{
    width: 400px;
    height: 450px;
    background-color: cadetblue;
    padding: 5px;
}

.item2{
    width: 400px;
    height: 450px;
    background-color: crimson;
    padding: 5px;
}

.item3{
    padding: 5px;
    width: 400px;
    height: 450px;
    background-color: darkorange;
}

img{
    width: 100%;
    height: 400px;
}

.apresentacao{
    width: 100%;
    height: 450px;
    background-color: white;
    padding: 20px;
}

footer{
    height: 400px;
    width: 100%;
    background-color: black;
}

main .swiper-slide{
    width: 100%;
    height: 500px;
    border: 5px solid orangered;
}

main .swiper-slide img{
       height: 100%;  
       height: 100%; 
       background-size: cover;   
}

footer{
    display: flex;
    padding-top: 20px;
    width: 100%;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  footer .foot{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    margin: 15px;
    background-color: rgb(20, 20, 20);
    justify-content: center;
    align-items: center;
  }

  .foot1{
display: flex;
  }
  footer .foot,h2, h3{
    color: white;
  }

  footer .parceiros{
    display: flex;
    margin: 30px;
  }

footer .parceiros{
    display: flex;
    flex-direction: column;
}

.textos{
    color: white;
}